<% extend('layout') %>

<div class="row my-4 justify-content-center">
  <div class="col-md-9">
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=0RZd4Vil4VA/default.jpg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>